@import "./colors";
$light-highlight: $seagull;
$text-highlight-lite: $boston-blue;
$text-highlight: $madder-lake;

/* punk theme one - blacks, blues, and pinks */


/* light mode */

$lm-bkg-highlight: $mercury;
$lm-bkg-light: $concrete;

/* dark mode */

$dm-main-color: $gray-darkest;
$dm-darker-main: $black-forest;
$dm-highlight: $cornflower-blue;
$dm-punk-highlight: $shocking-pink;
$dm-punk-darklight: $cannon-pink;

/* temp */
$hero-bottom-border:    10px;