.text, .text-second, .a, .i {
  font-size: 28px;
}
.text, .text-second {
  color: #FAFAFA;
  font-weight: 100;
}
.a, .i {
  color: green;
  font-weight: bolder;
}
.text, .text-second {
  margin-left: -7px;
}
.dud {
  color: #757575;
}
.wording {
  margin: 10px;
}