.text, .text-second, .a-heading, .i-heading {
  font-size: 48px;
}
.text, .text-second {
  color: #FAFAFA;
}
.a-heading, .i-heading {
  color: green;
  font-weight: bolder;
}
.a-bracket, .i-bracket {
  color: black !important;
  font-weight: bolder;
}
.text, .text-second {
  margin-left: 0px;
}
.dud {
  color: #757575;
}
.wording {
  margin: 10px;
  display: flex;
  font-family: monospace;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}